{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block body %}
    <style>
        nav{
            display:none;
        }
        footer{
            display:none;
        }
    </style>
    <main>
    <style>
        body{
            background:#66bb6a;
        }
    </style>
    <div id="divConnexion">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    <div class="input-field">
        <i class="material-icons prefix">account_circle</i>
        <input  type="text" value="{{ last_username }}" name="identifiant" id="inputIdentifiant" class="form-control " required autofocus>
        <label for="inputIdentifiant">Identifiant</label>
        <span class="helper-text" data-error="wrong" data-success="right">prenom.nom de votre enfant</span>
    </div>
    <div class="input-field">
        <i class="material-icons prefix">remove_red_eye</i>
        <input type="password"  name="password" id="inputPassword" class="form-control" required>
        <label for="inputPassword">Mot de passe</label>
        <span class="helper-text" data-error="wrong" data-success="right">mot de passe envoyé par mail</span>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary green lighten-1" type="submit">
        Se connecter
    </button>
</form>
    </div>
    </main>
{% endblock %}
