{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <main>
        <div class="container" id="register">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="center-align">Ajouter un compte</h1>
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.identifiant) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
            {{ form_row(registrationForm.eleve, { 'row_attr': {'class': 'browser-default'} } ) }}
            {{ form_row(registrationForm.enseignant,{ 'row_attr': {'class': 'browser-default'} } ) }}
            {{ form_row(registrationForm.admin,{ 'row_attr': {'class': 'browser-default'} } ) }}

            <div id="block_eleve" style="display: none">
                <h3>Ajouter le nouvel eleve</h3>
                {{ form_row(registrationForm.nomEleve) }}
                {{ form_row(registrationForm.prenomEleve) }}
                {{ form_row(registrationForm.mailEleve) }}
                <div>
                    {{ form_row(registrationForm.classeEl, {
                        label: "Classe de l'eleve"
                    }) }}
                </div>
            </div>

            <div id="block_enseignant" style="display: none">
                <h3>Ajouter le nouvel enseignant</h3>
                {{ form_row(registrationForm.nomEnseignant) }}
                {{ form_row(registrationForm.prenomEnseignant) }}
                {{ form_row(registrationForm.mailEnseignant) }}
                <div>
                    {{ form_row(registrationForm.classeEn, {
                        label: "Classe de l'enseignant"
                    }) }}
                </div>
            </div>

            <div class="center-align">
                <button type="submit" class="boutonadd waves-effect waves-light btn green" style="margin-bottom: 10px;">Inscrire le compte</button>
            </div>
    {{ form_end(registrationForm) }}
        </div>
    </main>
    <script>
        function newEleve() {
            // Checkbox Eleve
            var checkBox = document.getElementById("registration_form_eleve");
            // Block inputs Eleve
            var text = document.getElementById("block_eleve");
            // Checkbox Enseignant
            var checkBox2 = document.getElementById("registration_form_enseignant");
            // Checkbox Admin
            var checkBox3 = document.getElementById("registration_form_admin");
            // Block inputs Enseignant
            var text2 = document.getElementById("block_enseignant");
            // Inputs Eleve
            var nom = document.getElementById("registration_form_nomEleve");
            var prenom = document.getElementById("registration_form_prenomEleve");
            var mail = document.getElementById("registration_form_mailEleve");
            var classe = document.getElementById("registration_form_classeEl");
            // Inputs Enseignant
            var nom2 = document.getElementById("registration_form_nomEnseignant");
            var prenom2 = document.getElementById("registration_form_prenomEnseignant");
            var mail2 = document.getElementById("registration_form_mailEnseignant");
            var classe2 = document.getElementById("registration_form_classeEn");

            // Si la checkbox Eleve est coché
            if (checkBox.checked === true){
                // Affiche les inputs de l'eleve
                text.style.display = "block";
                // Décoche la checkbox enseignant et cache les inputs enseignants
                checkBox2.checked = false;
                text2.style.display = "none"
                // Décoche la checkbox admin
                checkBox3.checked = false;
                // Met les inputs de l'eleve en required
                nom.required = true;
                prenom.required = true;
                mail.required = true;
                classe.required = true;

                nom2.required = false;
                prenom2.required = false;
                mail2.required = false;
                classe2.required = false;
                // Enleve les required des autres checkbox
                checkBox.required = true;
                checkBox2.required = false;
                checkBox3.required = false;

            // Si la checkbox Eleve est décoché
            } else {
                // Cache les inputs de l'eleve
                text.style.display = "none";
                // Enleve les required des inputs
                nom.required = false;
                prenom.required = false;
                mail.required = false;
                classe.required = false;
                // Remet les required des autres checkbox
                checkBox.required = true;
                checkBox2.required = true;
                checkBox3.required = true;
            }
        }
        function newEnseignant() {
            // Checkbox Enseignant
            var checkBox = document.getElementById("registration_form_enseignant");
            // Block input Enseignant
            var text = document.getElementById("block_enseignant")
            // Checkbox Eleve
            var checkBox2 = document.getElementById("registration_form_eleve");
            // Checkbox Admin
            var checkBox3 = document.getElementById("registration_form_admin");
            // Block input Eleve
            var text2 = document.getElementById("block_eleve");
            // Inputs Enseignant
            var nom = document.getElementById("registration_form_nomEnseignant");
            var prenom = document.getElementById("registration_form_prenomEnseignant");
            var mail = document.getElementById("registration_form_mailEnseignant");
            var classe = document.getElementById("registration_form_classeEn");
            // Inputs Eleve
            var nom2 = document.getElementById("registration_form_nomEleve");
            var prenom2 = document.getElementById("registration_form_prenomEleve");
            var mail2 = document.getElementById("registration_form_mailEleve");
            var classe2 = document.getElementById("registration_form_classeEl");

            // Si la checkbox Enseignant est coché
            if (checkBox.checked === true){
                // Affiche les inputs enseignant
                text.style.display = "block";
                // Décoche la checkbox eleve et cache les inputs eleve
                checkBox2.checked = false;
                text2.style.display = "none"
                // Met les inputs enseignant en required
                nom.required = true;
                prenom.required = true;
                mail.required = true;
                classe.required = true;

                nom2.required = false;
                prenom2.required = false;
                mail2.required = false;
                classe2.required = false;
                // Retire les required des autres checkbox
                checkBox.required = true;
                checkBox2.required = false;
                checkBox3.required = false;

            // Si la checkbox Enseignant est décoché
            } else {
                // Cache les inputs enseignant et retire les required
                text.style.display = "none";
                nom.required = false;
                prenom.required = false;
                mail.required = false;
                classe.required = false;
                // Remet les required des autres checkbox
                if (checkBox3.checked === true){
                    checkBox3.required = true;
                    checkBox.required = false;
                } else {
                    checkBox.required = true;
                    checkBox3.required = true;
                    checkBox2.required = true;
                }
            }
        }

        function testAdmin() {
            var checkBox = document.getElementById("registration_form_admin");
            var checkBox2 = document.getElementById("registration_form_eleve");
            var checkBox3 = document.getElementById("registration_form_enseignant");
            var text = document.getElementById("block_eleve");

            // Inputs Eleve
            var nom2 = document.getElementById("registration_form_nomEleve");
            var prenom2 = document.getElementById("registration_form_prenomEleve");
            var mail2 = document.getElementById("registration_form_mailEleve");
            var classe2 = document.getElementById("registration_form_classeEl");

            if (checkBox.checked === true) {
                // Décoche la checkbox eleve et cache les inputs
                checkBox2.checked = false;
                text.style.display = "none";
                nom2.required = false;
                prenom2.required = false;
                mail2.required = false;
                classe2.required = false;
                // Retire les required des autres inputs
                checkBox.required = true;
                checkBox2.required = false;
                checkBox3.required = false;
            } else {
                // Remet les required des autres inputs
                if (checkBox3.checked===true){
                    checkBox3.required = true;
                    checkBox.required = false;
                } else {
                    checkBox.required = true;
                    checkBox3.required = true;
                    checkBox2.required = true;
                }
            }
        }
    </script>
{% endblock %}