{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
<style>
    nav{
        display:none;
    }
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 10px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="center-align" id="divAccueil">
    <div id="contenuImageAccueil">
        <h1 id="titleAccueil">Cartabl'O</h1>
        <h3>L'outil pédagogique numérique pour l'éducation des maternelles</h3>
        <a class="boutonAccueil1 waves-effect green btn-large"  href="{{ path('app_login') }}">Se connecter</a>
        <div class="row" id="gridAccueil">

            <div class="col s4">
                <i class="medium material-icons">accessibility</i>
                <h5 class="h5accueil">Simplicité</h5>
                <p>Accessible lorsque vous le voulez</p>
            </div>
            <div class="col s4">
                <i class="medium material-icons">settings_system_daydream</i>
                <h5 class="h5accueil">Centralisation</h5>
                <p>Découvrez la messagerie, le calendrier ou encore les jeux éducatifs pour votre enfant   </p>
            </div>
            <div class="col s4">
                <i class="medium material-icons">school</i>
                <h5 class="h5accueil">Enseignement</h5>
                <p>Nous facilitons l'école à la maison en misant sur la communication</p>
            </div>
        </div>
    </div>
</div>
    <img id="ImageAccueil" src="images/accueil.png" alt="Photo d'accueil" />
</div>
    </main>
{% endblock %}

