body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
/* Page d'accueil */
.boutonAccueil1{
    margin-top: 5%;
}
#divAccueil{
    position: absolute;
    margin-left:auto;
    margin-right: auto;
    width:100%;
    vertical-align: middle;
    text-align: center;
}
#contenuImageAccueil{
    position: absolute;
    vertical-align: middle;
    margin-left:auto;
    margin-right: auto;
    width:100%;
    text-align: center;
}
#ImageAccueil{
    width: 100%;
    height: 100%;
}
#titleAccueil{
    font-weight: bold;
}
#gridAccueil{
    margin-top:150px;
}
.h5accueil{
    font-weight: bold;

}

/* Page de connexion */
#divConnexion{
    width:400px;
    margin:0 auto;
    margin-top:10%;
    margin-bottom:10%;
}
#divConnexion h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: x-large;
    font-weight: bold;
}
.btn btn-lg btn-primary red accent-2{
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#divConnexion form{
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#divConnexion button{
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#divConnexion label{
    color: #000;
}
#divConnexion input:focus{
    border-bottom: 1px solid #43a047;
    box-shadow: 0 1px 0 0 #43a047;
}
#divConnexion inputmdp{
    border-bottom: 1px solid #43a047;
    box-shadow: 0 1px 0 0 #43a047;
}
.input-field .prefix.active {
    color: #81c784;
}
.input-field .prefix{
    color: #a5d6a7;
}
footer{
    padding-top: 25px;
    bottom: 0;
    position: relative;
    right: 0;
    left: 0;
}
/* Page index eleve */
.boutonmessagerie{
    margin-top: 2%;
    margin-right: 1%;
}
/* Page de calendrier */
#descdevoir{
    font-size: 25px;
}
.boutoncalendriersuiv{
    margin-bottom: 5%;
    margin-left: 2%;
}
.boutonajoutervideo{
    margin-bottom: 2%;
}
.boutonajouter2{
    margin-bottom: 2%;
}

/* Page de message */
.boutonEnvoiemsg{
    margin-top: 2%;
    margin-bottom: 5%;
}
.h6message{
    color:black;
    font-weight: bold;
}
.boutoncalenseignant{
    margin-left:2%;
}

/* Page ajout vidéo */
.boutonadd{
    margin-top: 2.5%;
}
/* Page de message */
.listemessage1{
    margin-top: 3%;
}
/* Page liste utilisateurs */
.UserList{
    color:black;
}
.boutonChangement{
    margin-top:5%;
}
.h4Changement{
    margin-top: 10%;
}
