<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="{{ asset('css/app.css') }}" type="text/css" rel="stylesheet">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="green lighten-1">
                <div class="nav-warper">
                    <a class="brand-logo center">Cartabl'O</a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        {% if app.user %}
                            <li >
                                <a href="{{ path('accueil') }}">Tableau de bord</a>
                            </li>
                            {% if is_granted('ROLE_ENSEIGNANT') %}
                                <li>
                                    <a href="{{ path('info_enseignant', {'id': app.user.idCible}) }}">Profil</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('liste_utilisateur') }}">Liste utilisateur</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('calendrier_now') }}">Calendrier</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ELEVE') %}
                                <li>
                                    <a href="{{ path('info_eleve', {'id': app.user.idCible}) }}">Profil</a>
                                </li>
                                <li>
                                    <a href="{{ path('calendrier_now') }}">Calendrier</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('app_register') }}">Ajouter utilisateur</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('messagerie') }}">Messagerie</a>
                            </li>
                            <a class="brand-logo right" href="{{ path('app_logout') }}"><i class=" material-icons" >exit_to_app</i></a>
                        {% else %}
                            <li>
                                <a href="{{ path('app_login') }}">Se connecter</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('memoire') }}">Jeu de mémoire</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {% block body %}
        {% endblock %}
    {% block footer %}
        <footer class="page-footer green lighten-1">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Cartabl'O</h5>
                        <p class="grey-text text-lighten-4">Un outil pédagogique pour l'enseignement à distance en maternelle, projet réalisé par 4 étudiants en L3 informatique.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Liens</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://gitlab.com/Xsigone/enseignement-a-distance">Dépôt Git</a></li>
                            <li><a class="grey-text text-lighten-3" href="mailto:hugo.dovillaire@gmail.com">Nous contacter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2021 Copyright Université d'Orléans, tous droits réservés.
                </div>
            </div>
        </footer>
    {%  endblock %}
        <script src="{{ asset('js/app.js') }}" ></script>
    </body>
</html>
