{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    <main>
        <div class="container calendrier">
            <H2 class="center-align">Calendrier de la semaine</H2>
            <ul>
                {% for jour in semaine %}
                    <li>
                        <div class="divider "></div>
                        <div class="section">
                            <h3>{{ jour.jours }} / {{ jour.mois }} / {{ jour.annee }}</h3>
                            <p id="descdevoir">{{ jour.description }}</p>
                        </div>
                        {% if is_granted('ROLE_ENSEIGNANT') %}
                            <a href="{{ path('video_new', {'annee': jour.annee, 'jour': jour.jours, 'mois': jour.mois, 'nsemaine': jour.semaine}) }}" class="boutonajoutervideo center-align waves-effect waves-light btn green"><i class="material-icons right">videocam</i>Ajouter une vidéo</a>
                        {% endif %}
                        {% for video in jour.video %}

                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <i class="material-icons circle red">ondemand_video</i>
                                    <span class="title">Nouvelle vidéo : {{ video.nom }} </span>
                                    <p>Description : {{ video.description }}</p>
                                    <div class="center-align">
                                        <a class="boutoncalendrier waves-light btn-small green" href="{{ video.lien }}"><i class="material-icons left">play_arrow</i>Accéder à la vidéo</a>
                                        {% if is_granted('ROLE_ENSEIGNANT') %}
                                            <a href="{{ path('video_up', {'annee': jour.annee, 'jour': jour.jours, 'mois': jour.mois, 'nsemaine': jour.semaine, 'id': video.id}) }}" class="waves-effect waves-light btn-small green">Mettre à jour la vidéo</a>
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                        {% endfor %}
                        {% if is_granted('ROLE_ENSEIGNANT') %}
                            <a a href="{{ path('document_new', {'annee': jour.annee, 'jour': jour.jours, 'mois': jour.mois, 'nsemaine': jour.semaine}) }}" class=" boutonajouter2 waves-effect waves-light btn green"><i class="material-icons right">file_upload</i>Ajouter un document</a>
                        {% endif %}
                        {% for document in jour.document %}

                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <i class="material-icons circle green">border_color</i>
                                    <span class="title">Nouveau travail à réaliser : {{ document.nom }}  </span>
                                    <p>Description : {{ document.description }}</p>
                                    <div class="center-align">
                                        <a class="boutoncalendrier waves-light btn-small green" href="{{ asset('uploads/documents/' ~ document.lien) }}"><i class="material-icons left">file_download</i>Télécharger le document</a>
                                        {% if is_granted('ROLE_ENSEIGNANT') %}
                                            <a href="{{ path('document_up', {'annee': jour.annee, 'jour': jour.jours, 'mois': jour.mois, 'nsemaine': jour.semaine, 'id': document.id}) }}" class="waves-effect waves-light btn-small green">Mettre à jour le document</a>
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                        {% endfor %}
                        {% if is_granted('ROLE_ENSEIGNANT') %}
                            <a a href="{{ path('jeu_new', {'annee': jour.annee, 'jour': jour.jours, 'mois': jour.mois, 'nsemaine': jour.semaine}) }}" class="boutonajouter2 waves-effect waves-light btn green"><i class="material-icons right">videogame_asset</i>Ajouter un jeu</a>
                        {% endif %}
                        {% for jeu in jour.jeu %}

                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <i class="material-icons circle yellow">videogame_asset</i>
                                    <span class="title">Jouer au jeu : {{ jeu.nom }}  </span>
                                    <p>Description : {{ jeu.description }}</p>
                                    <div class="center-align">
                                        <a class="boutoncalendrier waves-light btn-small green" href="{{ jeu.lien }}"><i class="material-icons left">games</i>Accéder au jeu</a>
                                        {% if is_granted('ROLE_ENSEIGNANT') %}
                                            <a href=href="{{ path('jeu_up', {'annee': jour.annee, 'jour': jour.jours, 'mois': jour.mois, 'nsemaine': jour.semaine, 'id': jeu.id}) }}" class="waves-effect waves-light btn-small green">Mettre à jour le jeu</a>
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                        {% endfor %}
                        {% if is_granted('ROLE_ENSEIGNANT') %}
                            <a a href="{{ path('calendrier_new', {'annee': jour.annee, 'jour': jour.jours, 'mois': jour.mois, 'nsemaine': jour.semaine}) }}" class=" boutonajouter2 waves-effect waves-light btn green"><i class="material-icons right">format_align_center</i>Mettre à jour la description</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <div class="center-align">
                <a href="{{ path('calendrier', {'annee': jourprec.annee, 'jour': jourprec.jours, 'mois': jourprec.mois, 'nsemaine': jourprec.semaine}) }}" class="boutoncalendriersuiv waves-light btn green"><i class="material-icons left">arrow_back</i>Semaine précédente</a>
                <a href="{{ path('calendrier', {'annee': joursuiv.annee, 'jour': joursuiv.jours, 'mois': joursuiv.mois, 'nsemaine': joursuiv.semaine}) }}" class="boutoncalendriersuiv waves-light btn green"><i class="material-icons right">arrow_forward</i>Semaine suivante</a>
            </div>
        </div>
    </main>
{% endblock %}
