{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    <main>
    <div class="container">
        <h2 class="center-align">Modifier la description du jour </h2>
        {{ form_start(calendrierForm) }}
        <h3>{{ calendrier.jours }} / {{ calendrier.mois }} / {{ calendrier.annee }}</h3>
        <h5>Classe : {{ calendrier.classe.nom }}</h5>
        {{ form_row(calendrierForm.description) }}
        <div class="center-align">
            <button type="submit" class="boutonadd waves-effect waves-light btn green">Mettre à jour</button>
        </div>
        {{ form_end(calendrierForm) }}
    </div>
    </main>
{% endblock %}