{% extends 'base.html.twig' %}

{% block title %}Changement classe{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12"><h4 class="h4Changement">Vous voulez ajouter l'utilisateur {{ enseignant.prenom }} {{ enseignant.nom }} à la classe {{ classe.nom }} cependant, {{ classe.enseignant.nom }} {{ classe.enseignant.prenom }} est deja enseignant de cette classe.</h4></div>
                <div class="col s6"><a class="boutonChangement waves-effect waves-light btn green" href="{{ path('valider_changement_classe', {'id': enseignant.id, 'idClasse': classe.id}) }}">Changer l'enseignant de la classe pour {{ enseignant.prenom }} {{ enseignant.nom }}</a></div>
                <div class="col s6"><a class="boutonChangement waves-effect waves-light btn green" href="{{ path('accueil') }}">Garder l'enseignant actuel, soit {{ classe.enseignant.nom }} {{ classe.enseignant.prenom }}</a></div>
            </div>
        </div>
    </main>
{% endblock %}