{% extends 'base.html.twig' %}

{% block title %}Document{% endblock %}

{% block body %}
    <main>
    <div class="container">
        <h2 class="center-align">Ajouter un document </h2>
        {{ form_start(documentForm) }}
        {{ form_row(documentForm.nom) }}
        {{ form_row(documentForm.description) }}
        {{ form_row(documentForm.pdf) }}
        <div class="center-align">
            <button type="submit" class="boutonadd waves-effect waves-light btn green">Ajouter</button>
        </div>
        {{ form_end(documentForm) }}
    </div>
    </main>
{% endblock %}