{% extends 'base.html.twig' %}

{% block title %}Edit eleve{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h2 class="center-align">Modifier l'eleve {{ eleve.prenom }} {{ eleve.nom }}</h2>
            {{ form_start(eleveForm) }}
            {{ form_row(eleveForm.identifiant) }}
            {{ form_row(eleveForm.nom) }}
            {{ form_row(eleveForm.prenom) }}
            {{ form_row(eleveForm.mail) }}
            {{ form_row(eleveForm.classe) }}
            <div class="center-align">
                <button type="submit" class="boutonadd waves-effect waves-light btn green">Modifier</button>
            </div>
            {{ form_end(eleveForm) }}
        </div>
    </main>
{% endblock %}