{% extends 'base.html.twig' %}

{% block title %}Edit enseignant{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h2 class="center-align">Modifier l'enseignant {{ enseignant.prenom }} {{ enseignant.nom }}</h2>
            {{ form_start(enseignantForm) }}
            {{ form_row(enseignantForm.identifiant) }}
            {{ form_row(enseignantForm.nom) }}
            {{ form_row(enseignantForm.prenom) }}
            {{ form_row(enseignantForm.mail) }}
            {{ form_row(enseignantForm.classe) }}
            <div class="center-align">
                <button type="submit" class="boutonadd waves-effect waves-light btn green">Modifier</button>
            </div>
            {{ form_end(enseignantForm) }}
        </div>
    </main>
{% endblock %}