{% extends 'base.html.twig' %}

{% block title %}Accueil Enseignant{% endblock %}

{% block body %}
    <style>
        i.material-icons {
            vertical-align: middle;
            position: relative;
        }
    </style>
    <main>
    <div class="container">
        <div class="section">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src="../images/profil3.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                            <a class="secondary-content"><i class="medium material-icons black-text">school</i></a>
              <span class="black-text">
                <h1> {{ enseignant.prenom }} {{ enseignant.nom }} </h1>
              </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="section">
            <span class="valign-wrapper"><h4><i class="medium material-icons">mail</i> Messagerie</h4></span>
            {% for msg in msgs %}
                <ul class="collection">
                    <li class="collection-item avatar">
                        <i class="material-icons circle blue">message</i>
                        <span class="title">Nouveau message de : {{ msg.utilisateur1.identifiant }}</span>
                        <p>Date : {{ msg.date }}</p>
                        <div class="divider"></div>
                        <h5>{{ msg.message }}</h5>
                        <div class="center-align">
                            <a class="boutonmessagerie waves-light btn-small green" href="{{ path('message', {'id': msg.utilisateur1.id}) }}"><i class="material-icons left">question_answer</i>Répondre</a>
                            <a class="boutonmessagerie waves-light btn-small green" href="{{ path('message_lu', {'id': msg.id}) }}"><i class="material-icons left">remove_red_eye</i>Marquer comme lu</a>
                        </div>

                    </li>
                </ul>
                <a class="waves-effect waves-light btn green" href="{{ path('messagerie') }}">Accéder à ma messagerie</a>
            {% else %}
                <p>Vous n'avez pas de nouveau message</p>
                <a class="waves-effect waves-light btn green" href="{{ path('messagerie') }}">Accéder à ma messagerie</a>
            {% endfor %}
        </div>
        <div class="divider"></div>
        {% if enseignant.classe %}
            <div class="section">
                <div class="valign-wrapper"><h4><i class="medium material-icons">book</i> Devoir à réaliser</h4></div>
                <div class="valign-wrapper">
                    <h5>Je souhaite ajouter un devoir : </h5>
                    <a class="boutoncalenseignant waves-effect waves-light btn green" href="{{ path('calendrier_now') }}"><i class="material-icons right">date_range</i>Accéder au calendrier</a>
                </div>
            </div>
        {% endif %}
    </div>
    </main>
{% endblock %}