{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <main>
    <style>
        i.material-icons {
            vertical-align: middle;
            position: relative;
        }
    </style>
<div class="container indexeleve">
    <div class="section">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="../images/profil3.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                        <a class="secondary-content"><i class="medium material-icons black-text">child_care</i></a>
              <span class="black-text">
                <h1> {{ eleve.prenom }} {{ eleve.nom }} </h1>
              </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="section">
        <span class="valign-wrapper"><h4><i class="medium material-icons">book</i> Devoir à réaliser</h4></span>
        {% if devoir %}
            <p>Travail à faire pour aujourd'hui :</p>
            <div>
                <h5>A faire le {{ calendrier.jours }} / {{ calendrier.mois }} / {{ calendrier.annee }}</h5>
                <p>{{ calendrier.description }}</p>
                <h5>Videos à regarder :</h5>
                {% for video in calendrier.video %}
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <i class="material-icons circle red">ondemand_video</i>
                            <span class="title">Nouvelle vidéo : {{ video.nom }} </span>
                            <p>Description : {{ video.description }}</p>
                            <div class="center-align">
                                <a class="boutoncalendrier waves-light btn-small green" href="{{ video.lien }}"><i class="material-icons left">play_arrow</i>Accéder à la vidéo</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <p>Pas de video à regarder pour aujourd'hui</p>
                {% endfor %}
                <h5>Documents à telecharger :</h5>
                {% for document in calendrier.document %}
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <i class="material-icons circle green">border_color</i>
                            <span class="title">Nouveau travail à réaliser : {{ document.nom }}  </span>
                            <p>Description : {{ document.description }}</p>
                            <div class="center-align">
                                <a class="boutoncalendrier waves-light btn-small green " href="{{ asset('uploads/documents/' ~ document.lien) }}"><i class="material-icons left">file_download</i>Télécharger le document</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <p>Pas de document à telecharger pour aujourd'hui</p>
                {% endfor %}
                <h5>Jeux à faire :</h5>
                {% for jeu in calendrier.jeu %}
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <i class="material-icons circle yellow">videogame_asset</i>
                            <span class="title">Jouer au jeu : {{ jeu.nom }}  </span>
                            <p>Description : {{ jeu.description }}</p>
                            <div class="center-align">
                                <a class="boutoncalendrier waves-light btn-small green " href="{{ jeu.lien }}"><i class="material-icons left">games</i>Accéder au jeu</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <p>Pas de jeu à faire pour aujourd'hui</p>
                {% endfor %}
            </div>
        {% else %}
            <p>Vous n'avez aucun devoir pour aujourd'hui</p>
        {% endif %}
    </div>
    <div class="divider"></div>
    <div class="section">
        <h4><i class="medium material-icons">timer</i> Calendrier</h4>

        <a class="waves-effect waves-light btn green " href="{{ path('calendrier_now') }}">Accéder à mon calendrier</a>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h4><i class="medium material-icons">mail</i> Messagerie</h4>
        {% for msg in msgs %}
        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle blue">message</i>
                <span class="title">Nouveau message de : {{ msg.utilisateur1.identifiant }}</span>
                <p>Date : {{ msg.date }}</p>
                <div class="divider"></div>
                <h5>{{ msg.message }}</h5>
                <div class="center-align">
                    <a class="boutonmessagerie waves-light btn-small green " href="{{ path('message', {'id': msg.utilisateur1.id}) }}"><i class="material-icons left">question_answer</i>Répondre</a>
                    <a class="boutonmessagerie waves-light btn-small green " href="{{ path('message_lu', {'id': msg.id}) }}"><i class="material-icons left">remove_red_eye</i>Marquer comme lu</a>
                </div>

            </li>
        </ul>
            <a class="waves-effect waves-light btn green " href="{{ path('messagerie') }}">Accéder à ma messagerie</a>
        {% else %}
            <p>Vous n'avez pas de nouveau message</p>
            <a class="waves-effect waves-light btn green " href="{{ path('messagerie') }}">Accéder à ma messagerie</a>
        {% endfor %}

    </div>
</div>
    </main>
{% endblock %}
