{% extends 'base.html.twig' %}

{% block title %}Profil de {{ eleve.prenom }} {{ eleve.nom }}{% endblock %}

{% block body %}
    <main>
<div class="container">
    <div class="section">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <i class="large material-icons circle grey">account_circle</i>
                    </div>
                    <div class="col s10">
              <span class="black-text">
                  <h4> <strong>Prénom : </strong>{{ eleve.prenom }} </h4>
                  <h4><strong>Nom de famille : </strong>{{ eleve.nom }}</h4>
                  <h4><strong>Numéro de l'élève : </strong>{{ eleve.id }}</h4>
                  <h4><strong>Adresse mail : </strong>{{ eleve.mail }}</h4>
                  <h4><strong>Classe : </strong>{{ eleve.classe.nom }}</h4>
                  <a href="{{ path('liste_eleve', {'id': eleve.classe.id}) }}" class="waves-light btn green"><i class="material-icons right">liste</i>Afficher la liste des élèves de la classe</a>
                  {% if eleve.classe.enseignant %}
                      <h4><strong>Enseignant référent : </strong>{{ eleve.classe.enseignant.prenom }} {{ eleve.classe.enseignant.nom }}</h4>
                      <a href="{{ path('info_enseignant', {'id': eleve.classe.enseignant.id}) }}" class="waves-light btn green"><i class="material-icons right">account_box</i>Afficher le profil de l'enseignant</a>
                  {% else %}
                      <h4><strong>Enseignant référent : </strong>Aucun enseignant pour cette classe</h4>
                  {% endif %}
                  {% if eleve.id != app.user.idCible %}
                      {% if uti %}
                          <div><a href="{{ path('message', {'id': uti.id}) }}" class="waves-light btn green" style="margin-top: 10px;"><i class="material-icons right">account_box</i>Envoyer un message</a></div>
                      {% endif %}
                  {% endif %}
                  {% if is_granted('ROLE_ADMIN') %}
                      {% if eleve.id != app.user.idCible %}
                          {% if uti %}
                                <a href="{{ path('eleve_up', {'id': uti.id}) }}" class="waves-light btn orange" style="margin-top: 10px;">Modifier l'utilisateur</a>
                                <a href="{{ path('verif_suppr_ut', {'id': uti.id}) }}" class="waves-light btn red" style="margin-top: 10px;">Supprimer l'utilisateur</a>
                          {% endif %}
                      {% endif %}
                  {% endif %}
              </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </main>
{% endblock %}
