{% extends 'base.html.twig' %}

{% block title %}Profil de {{ enseignant.prenom }} {{ enseignant.nom }}{% endblock %}

{% block body %}
    <main>
<div class="container">
    <div class="section">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <i class="large material-icons circle grey">account_circle</i>
                    </div>
                    <div class="col s10">
              <span class="black-text">
                  <h4> <strong>Prénom : </strong>{{ enseignant.prenom }} </h4>
                  <h4><strong>Nom de famille : </strong>{{ enseignant.nom }}</h4>
                  <h4><strong>Numéro de l'enseignant : </strong>{{ enseignant.id }}</h4>
                  <h4><strong>Adresse mail : </strong>{{ enseignant.mail }}</h4>
                  {% if enseignant.classe %}
                      <h4><strong>Enseignant de la classe : </strong>{{ enseignant.classe.nom }}</h4>
                      <a href="{{ path('liste_eleve', {'id': enseignant.classe.id}) }}" class="waves-light btn green"><i class="material-icons right">liste</i>Afficher la liste des élèves de la classe</a>
                  {% endif %}
                  {% if enseignant.id != app.user.idCible %}
                      {% if uti %}
                          <div><a href="{{ path('message', {'id': uti.id}) }}" class="waves-light btn green" style="margin-top: 10px;"><i class="material-icons right">account_box</i>Envoyer un message</a></div>
                      {% endif %}
                  {% endif %}
                  {% if is_granted('ROLE_ADMIN') %}
                      {% if enseignant.id != app.user.idCible %}
                          {% if uti %}
                              <a href="{{ path('enseignant_up', {'id': uti.id}) }}" class="waves-light btn orange" style="margin-top: 10px;">Modifier l'utilisateur</a>
                              <a href="{{ path('verif_suppr_ut', {'id': uti.id}) }}" class="waves-light btn red" style="margin-top: 10px;">Supprimer l'utilisateur</a>
                          {% endif %}
                      {% endif %}
                  {% endif %}
              </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </main>
{% endblock %}
