{% extends 'base.html.twig' %}

{% block title %}Jeu{% endblock %}

{% block body %}
    <main>
    <div class="container">
        <h2 class="center-align">Ajouter un jeu </h2>
        {{ form_start(jeuForm) }}
        {{ form_row(jeuForm.nom) }}
        {{ form_row(jeuForm.description) }}
        {{ form_row(jeuForm.lien) }}
        <div class="center-align">
            <button type="submit" class="boutonadd waves-effect waves-light btn green">Ajouter</button>
        </div>
        {{ form_end(jeuForm) }}
    </div>
    </main>
{% endblock %}