{% extends 'base.html.twig' %}

{% block title %}Liste des eleves de la classe {{ classe.nom }}{% endblock %}

{% block body %}
    <main>
        <div class="container">
        <h2 class="center-align">Liste des eleves de la classe {{ classe.nom }}</h2>
        <div class="searchEtu">
            <div class="searchEtu1">
                <div class="searchEtu2">
                    <form class="form-floating">
                        <input style="border: 0.01px solid #262525;" type="text" class="form-control" id="search" placeholder="Rechercher eleve" name="search">
                        <label for="search">Rechercher Eleve</label>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <table>
                <tbody>
                {% for eleve in classe.eleves %}
                    <tr>
                        <td>{{ eleve.prenom }} {{ eleve.nom }}</td>
                        <td><a href="{{ path('info_eleve', {'id': eleve.id}) }}" class="waves-effect waves-light btn green"><i class="material-icons right">account_circle</i>Afficher le profil</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </main>
{% endblock %}
