{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <main>
    <div class="container">
        <div class="center-align">
            <h2>Liste des contacts</h2>
        </div>
        <div class="searchEtu">
            <div class="searchEtu1">
                <div class="searchEtu2">
                    <form class="form-floating">
                        <input style="border: 0.01px solid #262525;" type="text" class="form-control" id="search" placeholder="Rechercher contact" name="search">
                        <label for="search">Rechercher contact</label>
                    </form>
                </div>
            </div>
        </div>
        <table class="collection">
            <tbody>
                {% for contact in liste_contact %}
                {% if contact.id != utilisateur.id %}
                <tr>
                    <td><a href="{{ path('message', {'id': contact.id}) }}" class="collection-item"><h6 class="h6message">{{ contact.identifiant }}</h6></a></td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    </main>
{% endblock %}