{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="center-align">
            <h1> Liste des utilisateurs</h1>
            </div>
        <div class="searchEtu">
            <div class="searchEtu1">
                <div class="searchEtu2">
                    <form class="form-floating">
                        <input style="border: 0.01px solid #262525;" type="text" class="form-control" id="search" placeholder="Rechercher un utilisateur" name="search">
                        <label for="search">Rechercher un utilisateur</label>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <table>
                <tbody>
                <tr><td></td><td><h3>Eleves</h3></td></tr>
                {% for ut in eleves %}
                    <tr>
                        <td>{{ ut.prenom }} {{ ut.nom }}</td>
                        <td><a href="{{ path('info_eleve', {'id': ut.id}) }}" class="waves-effect waves-light btn green"><i class="material-icons right">account_circle</i>Afficher le profil</a></td>
                    </tr>
                {% endfor %}
                <tr><td></td><td><h3>Enseignant</h3></td></tr>
                {% for ut in enseignants %}
                    <tr>
                        <td>{{ ut.prenom }} {{ ut.nom }}</td>
                        <td><a href="{{ path('info_enseignant', {'id': ut.id}) }}" class="waves-effect waves-light btn green"><i class="material-icons right">account_circle</i>Afficher le profil</a></td>
                    </tr>
                {% endfor %}
                <tr><td></td><td><h3>Admin</h3></td></tr>
                {% for ut in admins %}
                    <tr>
                        <td>{{ ut.identifiant }}</td>
                        <td><a href="{{ path('message', {'id': ut.id}) }}" class="waves-effect waves-light btn green"><i class="material-icons right">account_circle</i>Envoyer un message</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </main>
{% endblock %}
