{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <main>
    <div class="container">
        <ul class="listemessage1 collection with-header">
            <li class="collection-header"><h2>Liste messages</h2></li>
            {% for msg in messages %}
                <li class="collection-item avatar">
                    <i class="material-icons circle blue">message</i>
                    <p><strong>Envoyé le : </strong> {{ msg.date }}</p>
                    <p><strong>Expéditeur :</strong> {{ msg.utilisateur1.identifiant }}</p>
                    <p><strong>Destinataire :</strong> {{ msg.utilisateur2.identifiant }}</p>
                <h5>{{ msg.message }}</h5>
                </li>
            {% endfor %}
        </ul>
        <h3>Envoyer un nouveau message : </h3>
        {{ form_start(messageForm) }}
        {{ form_row(messageForm.message) }}
        <div class="center-align">
        <button type="submit" class="boutonEnvoiemsg waves-effect waves-light btn green "><i class="material-icons left ">send</i>Envoyer</button>
        </div>
        {{ form_end(messageForm) }}
    </div>
    </main>
{% endblock %}