{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <main>
    <div class="container messagerie">
        <H2 class="center-align">Messagerie </H2>
        <div class="searchEtu">
            <div class="searchEtu1">
                <div class="searchEtu2">
                    <form class="form-floating">
                        <input style="border: 0.01px solid #262525;" type="text" class="form-control" id="search" placeholder="Rechercher contact" name="search">
                        <label for="search">Rechercher contact</label>
                    </form>
                </div>
            </div>
        </div>
        <h4>Mes contacts</h4>
        <table class="collection with-header">
            <tbody>
            {% for contact in liste_contact %}
                <tr class="collection-item">
                    <td>{{ contact.identifiant }}</td>
                    <td><a href="{{ path('message', {'id': contact.id}) }}" class="secondary-content"><i class="material-icons blue-text">message</i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="center-align">
        <a class="waves-effect waves-light btn green" href="{{ path('liste_contact') }}" ><i class="material-icons right">contact_mail</i>Accéder à la liste des contacts</a>
        </div>
    </div>
    </main>
{% endblock %}