{% extends 'base.html.twig' %}

{% block title %}Changement classe{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12"><h4 class="h4Changement">Voulez vous vraiment supprimer l'utilisateur {{ compte.prenom }} {{ compte.nom }} ? Attention, toutes les informations de l'utilisateur seront perdu définitivement !</h4></div>
                <div class="col s6"><a class="boutonChangement waves-effect waves-light btn red" href="{{ path('utilisateur_delete', {'id': utilisateur.id}) }}">Supprimer l'utilisateur définitivement</a></div>
                <div class="col s6"><a class="boutonChangement waves-effect waves-light btn green" href="{{ path('liste_utilisateur') }}">Annuler</a></div>
            </div>
        </div>
    </main>
{% endblock %}