{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h2 class="center-align">Ajouter une vidéo </h2>
            {{ form_start(videoForm) }}
            {{ form_row(videoForm.nom) }}
            {{ form_row(videoForm.description) }}
            {{ form_row(videoForm.lien) }}
            <div class="center-align">
                <button type="submit" class="boutonadd waves-effect waves-light btn green">Ajouter</button>
            </div>
            {{ form_end(videoForm) }}
        </div>
    </main>
{% endblock %}